.registerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #ecccccfa;
  }

  .registerCard {
    background-color: #ffffff;
    padding: 40px 30px;
    border-radius: 16px;
    text-align: center;
    width: 320px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.05);
    
  }
  
  .logo {
    margin-bottom: 16px;
  }
  
  .mainTitle {
    font-size: 28px;
    font-weight: bold;
    color: #d62828;
    margin: 0;
  }
  
  .registerTitle {
    font-size: 22px;
    font-weight: bold;
    margin-top: 12px;
    margin-bottom: 24px;
    color: #111;
  }
  
  .selectUserType {
    font-size: 16px;
    font-weight: bold;
    margin-top: 12px;
    margin-bottom: 24px;
    color: #111;
  }

  .formSelect {
    font-size: 16px;
    margin-top: 12px;
    margin-bottom: 24px;
    gap: 16px;
    color: #111;
  }

  .registerForm {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  


  .inputField {
    width: 100%;
    padding: 0.75rem 1rem;
    margin-bottom: 1rem;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 6px;
    background-color: #fafafa;
  }
  
  .btnRegister {
    background-color: #d62828;
    color: white;
    border: none;
    padding: 14px;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
  }
  
  .btnRegister:hover {
    background-color: #bb1f1f;
  }
  
  .loginText {
    margin-top: 20px;
    font-size: 14px;
    color: #333;
  }
  
  .loginLink {
    color: #d62828;
    font-weight: bold;
    cursor: pointer;
    margin-left: 6px;
  }
  

  .customSelect {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 14px;
    color: #333;
    background-color: #fff;
    outline: none;
    box-shadow: 0 0 0 1px rgba(0, 123, 255, 0.1);
    transition: border-color 0.3s, box-shadow 0.3s;
    appearance: none; /* Elimina estilos nativos */
    background-image: url("data:image/svg+xml,%3Csvg fill='gray' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7 10l5 5 5-5z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 12px center;
    background-size: 18px 18px;
  }
  
  .customSelect:focus {
    border-color: #f70505;
    box-shadow: 0 0 0 3px rgba(220, 6, 6, 0.25);
  }
  
